@charset "utf-8";
@import "./lib/core/reset";
@import "./lib/core/swiper-3.3.1.min.css";
@import "./usage/common";


// layout
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    //height: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}


@import "./usage/homeStoryContent";
@import "./usage/home";
@import "./usage/classify";
@import "./usage/find";
@import "./usage/more";
@import "./usage/guide";
@import "./usage/index";