@charset "utf-8";

.classify{
    width: 100%;
    height: 100%;
    @include flexbox();
    #ifgSwiper{
        @include flex(1);
        width: 100%;
        height: 100%;
        .ifySection{
            @include flexbox();
            width: 100%;
            overflow: hidden;
            .marginLeft{
                @include flex(1);
            }
            .content{
                @include flex(62);
                width: 100%;
                height: 100%;
                padding-top: .05rem;
                 ul{
                    width: 100%;
                    height: 100%;
                    @include flexbox();
                    margin-bottom: .09rem;
                    li{
                        @include box-sizing(border-box);
                        &:nth-child(1){
                            @include flex(10);
                            @include border(2px,#cdedee,solid);
                        }
                        &:nth-child(2){
                            @include flex(1);
                        }
                        &:nth-child(3){
                            @include flex(10);
                            @include border(2px,#cdedee,solid);
                        }
                        img{
                            width: 100%;
                        }
                        p{
                            height: .35rem;
                            line-height: .34rem;
                            text-align: center;
                            background: #fff;
                        }
                    }
                    
                 }
            }
            .marginRight{
                 @include flex(1);
            }
        }
    }
}
