@charset "utf-8";

@font-face {
  font-family: "yofont";
  src: url("/kaleidoscope-story/images/iconfont/iconfont.woff") format("woff"), 
  url("/kaleidoscope-story/images/iconfont/iconfont.ttf") format("truetype");
}

$color: #1cc4ad;
$color1: #939393;
